.post-page-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.heading {
  font-family: "Raleway";
}

.sidebar {
  width: 90%;
  padding: 5% 5% 5% 5%;
}

.blog{
  border-left: solid;
  border-left-width: thin;
  border-left-color: lightgray;
  padding-left: 5%;
}

/*
@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
*/

@media only screen and (max-width: 850px) {
  .sidebar{
    margin-top: 10px;
    display: flex;
    text-align: center;
    margin: 0 0 0 0;
  }
  .post-page-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .blog{
    border-left: hidden;
    padding-left: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
}