/* whole header*/
.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
}
/* elements of header*/
.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* left element*/
.head-logo {
  font-family: Georgia, serif;
  font-size: 1.75rem;
  margin: 0 0 0 0;
  padding-left: 1.5%;
  padding-top: 0.5%;
}

/*icon and text*/
.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
}

/*normal screen doesn't display*/
.mobile-siderbar-main {
  background: white;
  display: none;
}

.mobile-menu {
  width: 100%;
  background: #2d3748;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 850px) {
  .icon, .icon-text{display: none;}
  .mobile-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .mobile-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
  }
  .mobile-menu{display: flex;}
  .mobile-siderbar-main{
    display: flex;
    flex-direction: column;
  }
  .head-logo {
    font-family: Georgia, serif;
    font-size: 1.4rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
